<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>switch语句</title>
    <script src="../vue.js"></script>
    <style>
        button {
            width: 100px;
            height: 40px;
            border: 1px solid #750606;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div v-for="(i,index) in 4">
            <button @click="btn(index)"
                :style="{background:(currentIndex == index)?'#068148':'#ffffff'}">按钮{{i}}</button>
        </div>
    </div>
</body>
<script>
    const app = new Vue({
        el: "#app",
        data() {
            return {
                currentIndex: 0,
            }
        },
        methods: {
            btn(index) {
                this.currentIndex = index;
                switch (index + 1) {
                    // seitch语句评估一个表达式，将表达式的值与case字句匹配，并执行。
                    case 1:
                        console.log("这是按钮1");
                        break;

                    case 2:
                        console.log("这是按钮2");
                        break;
                    case 3:
                        console.log("这是按钮3");
                        break;
                    case 4:
                        console.log("这是按钮4");
                        break;
                }
            }
        }
    })
</script>

</html>